<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" parallel="tests">
    <!--<test name="FirefoxTest">-->
        <!--<parameter name="browser" value="FIREFOX" />-->
        <!--<classes>-->
            <!--<class name="LocalTestsExample"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="ChromeTest">-->
        <!--<parameter name="browser" value="CHROME" />-->
        <!--<classes>-->
            <!--<class name="LocalTestsExample"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="OperaTest">-->
        <!--<parameter name="browser" value="OPERA" />-->
        <!--<classes>-->
            <!--<class name="LocalTestsExample"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="IETest">-->
        <!--<parameter name="browser" value="IE" />-->
        <!--<classes>-->
            <!--<class name="LocalTestsExample"/>-->
        <!--</classes>-->
    <!--</test>-->
    <test name="EdgeTest">
        <parameter name="browser" value="EDGE" />
            <classes>
                <class name="LocalTestsExample"/>
            </classes>
    </test>
    <!--<test name="PhantomJSTest">-->
        <!--<parameter name="browser" value="PHANTOMJS" />-->
        <!--<classes>-->
            <!--<class name="LocalTestsExample"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="HtmlUnitTest">-->
        <!--<parameter name="browser" value="HTMLUNIT" />-->
        <!--<classes>-->
            <!--<class name="LocalTestsExample"/>-->
        <!--</classes>-->
    <!--</test>-->
</suite>